img{
  text-align: center;
}
body{
  background-image: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: center;
  background-size: cover;
  background-color: #BFC9CA;
}
.row{
  padding: 8%;
  margin:0;
  text-align:
}

}
